<nav class="relative flex w-full flex-wrap items-center justify-between bg-neutral-100 py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:py-4 select-none">
  <div class="w-full items-center justify-between px-3">
    <div class="flex justify-between mx-3">
      <span class="text-xl font-semibold text-neutral-800 dark:text-neutral-200 cursor-pointer" routerLink="/">Tus Clientes</span>
      <button *ngIf="showButton" routerLink="/create" class="text-xl font-semibold text-white bg-green-400 hover:bg-green-500 px-2 py-1 rounded-md">Nuevo</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
